.Home{
    margin-top:6rem;
    .card{
        margin:1rem 0.5rem;
        padding: 1rem 2rem;
        border:none;
        text-align: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    .titleRow{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0 0.75rem;
        .col-3{
            text-align: right;
        }
    }
    .btnContainer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap:0.5rem;
        svg{
            width: 16px;
            color:  var(--retro-white-color);
        }
        a{
          
            padding: 0.25rem  0.5rem ;
            border-radius: 0.5rem;
         &:nth-child(1) {
            background:  var(--retro-info-color);
           
        }
        &:nth-child(2) {
            background: var(--retro-warning-color);
           
        }
        &:nth-child(3) {
            background:  var(--retro-danger-color);;
           
        }
    }
    }
}