
button,
.classic {
  width: 120px;
  min-width: 120px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 2px;
  &:hover {
    animation: ease-in 100s;
    letter-spacing: 0.05em;
  }
}
button,
.half-rounded {
  width: 120px;
  min-width: 120px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 5px;
  &:hover {
    animation: ease-in 100s;
    letter-spacing: 0.05em;
  }
}
button,
.full-rounded {
  width: 120px;
  min-width: 120px;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 15px;
  &:hover {
    animation: ease-in 100s;
    letter-spacing: 0.05em;
  }
}
.btn-retro-primary {
  background: var(--retro-primary-color);
  color: var(--retro-dark-gray-color);
}
.btn-retro-secondary {
  background: var(--retro-secondary-color);
  color: var(--retro-dark-gray-color);
}
.btn-retro-disabled {
  background: var(--retro-quite-text-color);
  color: var(--retro-first-text-color);
}
.btn-retro-success {
  background: var(--retro-success-color);
  color: var(--retro-light-color);
}
.btn-retro-info {
  background: var(--retro-info-color);
  color: var(--retro-light-color);
}
.btn-retro-warning {
  background: var(--retro-warning-color);
  color: var(--retro-light-color);
}
.btn-retro-danger {
  background: var(--retro-danger-color);
  color: var(--retro-light-color);
}
.btn-retro-dark {
  background: var(--retro-black-color);
  color: var(--retro-white-color)!important;
}

.drop-down-dark{
  .dropdown-menu{
      transform: translate(-10px, 15px)!important;
      background: var(--retro-secondary-color);
      color:var(--retro-white-color)!important;
      .drop-down-dark-link{
        color:var(--retro-white-color)!important;
        &:hover{
          transition: 0.2s ease-in-out!important;
          color:var(--retro-black-color)!important;
        }
      }
  }
}
