:root{
    --retro-bg-color:#EDEAE1;
    --retro-footer-color:#e0ddd3;

    --retro-primary-color:#E6F2F0;
    --retro-secondary-color:#9CBCB7;
    --retro-highlight-color:#A7C9AD;


    --retro-quite-text-color:#BFBFBF;
    --retro-first-text-color:#A4A4A6;
    --retro-second-text-color:#89888C;
    --retro-dark-gray-color:#595859;
    --retro-black-color:#262524;
    --retro-white-color:#ffffff;


    --retro-success-color:#89A666;
    --retro-info-color:#94A4AB;
    --retro-warning-color:#D9AA71;
    --retro-danger-color:#98503F;
    --retro-light-color:#F6F3EC;

    --retro-primary-shadow:#E6FFF0;
    --retro-secondary-shadow:#BEE6E0;
    --retro-highlight-shadow:#D4FFDC;

    
}

